body{
background-color: black;
font-family: monospace;
font-size: x-large;
color: #7CFC00;
padding: 10px 10px;
margin: auto;
}
.field_set{
    border-color: #7CFC00;
    border-style: solid;
    border-width: 1cm;
    border-radius: 5%;
   }
.img2{
    margin: auto;
    display: block;
    filter: grayscale(100%);
    
}
h2{
    background-color: #1C1C1C;
text-align: center;
font-family: Copperplate;
}
audio{
margin-inline-start: 30%;
}
h1{
    font-style: oblique;
    text-shadow: 2px 2px #98FB98;
    text-align: center;
}
.background
{
    background-image:url('star-wars-backgrounds-25.jpg');
    background-repeat:repeat;
    height: 50%;
    width: 50%;
}
  